## <center> DISNEY'S MOVIES: DATA CLEANING

## TASK 3: CLEANING UP DATA
#### 3.1. Uploading data

In [ ]:
## This is for uploading files on Google Colab
import json

def load_data(title):
  with open(title, encoding = 'utf-8') as f:
    return json.load(f)


from google.colab import files
files.upload()

disney_data = load_data('disney_data.json')

Saving disney_data.json to disney_data.json

There are some issues we should fix through html scraping:
  - The Box office and Released dates have wrong format for datetime and currency. 
  - There are references (eg. [1], [2]) that should be removed. 
  - The datetime is repeated in 2 different formats (June 12, 2010 (2010-06-12))
  - For a key having more than a paired value (eg. Starring), they should be listed.

#### 3.2. Convert Running time into an integer

In [ ]:
## Let's check the Running format first.
[movie.get('Running time', 'N/A') for movie in disney_data]

## There are some movies that do not have the Running time infomation or have a list of Running time. In case there is a list, 
## we will take the first option

In [ ]:
import re

def convert_running_time(running_time):
  '''
  Convert running time by Regex library
  '''
  # If the movie does not have Running time
  if running_time == 'N/A':
    return None
  else:
    # If the Running time is a list
    if isinstance(running_time, list):
      strtime = re.search(r'(?P<strtime>\d{2,3}) (\w*)', running_time[0])
      return int(strtime.group('strtime'))
    else: # if the running time is a string
      strtime = re.search(r'(?P<strtime>\d{2,3}) (\w*)', running_time)
      return int(strtime.group('strtime'))

  
for movie in disney_data:
  movie['Running time'] = convert_running_time(movie.get('Running time', 'N/A'))

print([movie['Running time'] for movie in disney_data])

[41, 83, 88, 126, 74, 64, 70, 42, 70, 71, 75, 94, 73, 75, 82, 68, 74, 96, 75, 84, 77, 92, 69, 81, 60, 127, 93, 76, 75, 73, 85, 81, 70, 90, 80, 75, 83, 83, 72, 97, 75, 104, 93, 24, 105, 95, 97, 134, 24, 69, 92, 126, 79, 97, 128, 73, 91, 105, 98, 130, 89, 93, 67, 98, 100, 118, 103, 110, 80, 74, 91, 91, 97, 118, 139, 131, 92, 87, 116, 93, 110, 110, 131, 101, 108, 84, 78, 75, 164, 106, 110, 99, 113, 108, 102, 85, 91, 93, 100, 100, 79, 96, 113, 89, 117, 92, 88, 92, 87, 93, 93, 93, 90, 83, 96, 88, 89, 91, 93, 92, 97, 100, 100, 89, None, 91, 112, 115, 95, 91, 97, 104, 74, 48, 77, 104, 128, 101, 94, 104, 90, 100, 88, 93, 98, 112, 84, 97, 97, 114, 96, 97, 109, 83, 90, 107, 96, 103, 91, 95, 105, 113, 80, 101, 90, 74, 90, 89, 110, 74, 93, 84, 83, 74, 77, 107, 93, 88, 108, 84, 121, 89, 104, 90, 86, 84, 108, 107, 96, 98, 105, 108, 94, 106, 102, 88, 102, 102, 97, 111, 100, 96, 98, 78, 81, 108, 89, 99, 89, 81, 92, 100, 89, 79, 91, 101, 104, 103, 86, 105, 74, 93, 92, 98, 95, 93, 87, 93, 87, 128, 77, 86, 95, 114, 93, 83, 83, 88, 78, 112, 92, 78, 72, 82, 75, 104, 75, 113, 100, 78, 83, 69, 96, 115, 86, 92, 65, 99, 73, 73, 66, 128, 85, 88, 125, 96, 104, 95, 74, 72, 88, 75, 61, 117, 94, 100, 143, 96, 64, 87, 85, 86, 50, 74, 136, 76, 85, 65, 76, 40, 120, 84, 113, 65, 115, 67, 131, 100, 79, 68, 95, 97, 75, 100, 119, 100, 76, 68, 67, 120, 81, 143, 72, 118, 40, 72, 120, 99, 82, 117, 72, 150, 104, 73, 76, 92, 69, 70, 95, 94, 167, 111, 85, 82, 87, 110, 107, 124, 74, 82, 150, 97, 77, 91, 100, 112, 93, 78, 96, 99, 76, 98, 97, 99, 101, 96, None, 90, 101, 107, 82, 101, 96, 88, 97, 108, 104, 116, 103, 109, 115, 74, 79, 123, 108, 100, 125, None, 84, 90, 88, 109, 89, 104, 137, 106, 63, 88, 103, 93, 95, 132, 77, 96, 93, 104, 89, 87, 75, 101, 130, 77, 104, 149, 92, 81, 102, 125, 107, 78, 77, 124, 97, 84, 127, 81, 102, 124, 129, 76, 106, 82, 130, 95, 154, 97, 117, 108, 106, 99, 113, 97, 118, 103, 124, 107, 161, 80, 129, 76, 129, 102, None, 162, 114, 105, 109, 118, 104, 99, 112, 131, 112, 76, 128, 100, 118, 119, 104, 100, 104, 114, 99, 102, 107, 78, 86, 95, 160, 85, 100, 95, 115, 110, 122, 101, 121, 95, 107, 134, 95, 128, 102, 58, 108, 82, 157, 100, 107, 91, 84, None, None, None, None, None, None, None, None, 58, None, None, 102, None, 81, None, 70, None, None, 93, 91, 78, 85, 124, None, 83, None, None, None, 107, None, 79, 74, 468, 108, None]

In [ ]:
## Another way to solve this problem

def convert_running_time_2(running_time):
  '''
  Convert running time use string.split. 
  It returns the same output as using Regex.
  '''
  # If the movie does not have Running time
  if running_time == 'N/A':
    return None
  else:
    # If the Running time is a list
    if isinstance(running_time, list):
      strtime = running_time[0].split(' ')[0]
      return int(strtime)
    else: # if the running time is a string
      strtime = running_time.split(' ')[0]
      return int(strtime.group('strtime'))

#### 3.3. Convert Budget into a number

In [ ]:
## Let's check the Budget first

[[movie.get('Budget', 'N/A'), movie['Title']] for movie in disney_data]

The budget current format makes things quite complicated. It includes the different currencies rather than US dollar, \$65 million or \$65,000,000, a range of value, a list and missing values 

So we will try on our best. We will substitute only US currency, other currency without the Dollar equivalent number is omitted. For the range of values and the list of values, we take the first number (eg. \$90-100 million ---> \$90 million )

In [ ]:
## Build function to convert Budget into floats

import re

def get_money_string(string):
  '''
  Return money string from a text
  '''
  
  if 'A$' in string or 'AU$' in string:
    return None

  if '$' not in string:
    return None
  
  else:
    string = string.lower()
    if 'million' in string or 'billion' in string:
      pattern = r'[US]*\$(?P<number>[0-9.]+)[0-9\-\$\s\w\W]* (?P<unit>million|billion)'
      money = re.search(pattern, string)
      return money.group('number') + ' ' + money.group('unit')
    
    else:
      pattern = r'\$([0-9.,]+)'
      money = re.search(pattern, string)
      return money.group(1)


def word_to_number(string):

  if string is not None:

    if 'million' in string:
      string = string.replace(' million', '')
      return float(string) * 1000000

    elif 'billion' in string:
      string = string.replace(' billion', '')
      return float(string) * 1000000000

    else:
      string = string.replace(',', '')
      return float(string)


def get_budget(string):
  '''
  To obtain the money string
  '''
  
  if string in ['N/A', '', 'unknown', 'Unknown']:
    return None
  
  ## If the Budget value is a list
  if isinstance(string, list):
    substring = [s for s in string if '$' in s][0]  # Take the first value
    money_string = get_money_string(substring)
    return word_to_number(money_string)
  
  ## If the Budget value is a string
  else:
    money_string = get_money_string(string)
    return word_to_number(money_string)

In [ ]:
## Let's check the functions

for movie in disney_data:
  try:
    movie['Budget_converted'] = get_budget(movie.get('Budget', 'N/A'))
  except Exception as e:
    print(e)
    print(movie['Title'], movie['Budget'])

'NoneType' object has no attribute 'group'
Ponyo ['¥', '3.4 billion', '(', 'US$', '34 million)']
list index out of range
Jagga Jasoos ['131 crore']

In [ ]:
## Alright, we only have to fix Ponyo and Jagga Jasoos movie

for movie in disney_data:
  if movie['Title'] == 'Ponyo':
    movie['Budget_converted'] = 34000000
  if movie['Title'] == 'Jagga Jasoos':
    movie['Budget_converted'] = None
  
  print([movie.get('Budget', 'N/A'), movie['Budget_converted']])

['N/A', None]
['$1.49 million', 1490000.0]
['$2.6 million', 2600000.0]
['$2.28 million', 2280000.0]
['$600,000', 600000.0]
['$950,000', 950000.0]
['$858,000', 858000.0]
['N/A', None]
['$788,000', 788000.0]
['N/A', None]
['$1.35 million', 1350000.0]
['$2.125 million', 2125000.0]
['N/A', None]
['$1.5 million', 1500000.0]
['$1.5 million', 1500000.0]
['N/A', None]
['$2.2 million', 2200000.0]
['$1,800,000', 1800000.0]
['$3 million', 3000000.0]
['N/A', None]
['$4 million', 4000000.0]
['$2 million', 2000000.0]
['$300,000', 300000.0]
['$1.8 million', 1800000.0]
['N/A', None]
['$5 million', 5000000.0]
['N/A', None]
['$4 million', 4000000.0]
['N/A', None]
['N/A', None]
['N/A', None]
['N/A', None]
['N/A', None]
['N/A', None]
['$700,000', 700000.0]
['N/A', None]
['N/A', None]
['N/A', None]
['N/A', None]
['N/A', None]
['$6 million', 6000000.0]
['under $1 million or $1,250,000', 1000000.0]
['N/A', None]
['N/A', None]
['$2 million', 2000000.0]
['N/A', None]
['N/A', None]
['$2.5 million', 2500000.0]
['N/A', None]
['N/A', None]
['N/A', None]
['$4 million', 4000000.0]
['$3.6 million', 3600000.0]
['N/A', None]
['N/A', None]
['N/A', None]
['N/A', None]
['$3 million', 3000000.0]
['N/A', None]
['$3 million', 3000000.0]
['N/A', None]
['N/A', None]
['N/A', None]
['N/A', None]
['N/A', None]
['N/A', None]
['N/A', None]
['N/A', None]
['N/A', None]
['$3 million', 3000000.0]
['N/A', None]
['N/A', None]
['N/A', None]
['N/A', None]
['$4.4–6 million', 4400000.0]
['N/A', None]
['N/A', None]
['N/A', None]
['N/A', None]
['N/A', None]
['N/A', None]
['N/A', None]
['N/A', None]
['N/A', None]
['N/A', None]
['N/A', None]
['$4 million', 4000000.0]
['N/A', None]
['$5 million', 5000000.0]
['N/A', None]
['N/A', None]
['N/A', None]
['N/A', None]
['$5 million', 5000000.0]
['N/A', None]
['N/A', None]
['N/A', None]
['N/A', None]
['N/A', None]
['N/A', None]
['$4 million', 4000000.0]
['N/A', None]
['N/A', None]
['N/A', None]
['$6.3 million', 6300000.0]
['N/A', None]
['N/A', None]
['N/A', None]
['N/A', None]
['N/A', None]
['N/A', None]
['N/A', None]
['N/A', None]
['$5 million', 5000000.0]
['N/A', None]
['N/A', None]
['N/A', None]
['N/A', None]
['$8 million', 8000000.0]
['N/A', None]
['N/A', None]
['N/A', None]
['N/A', None]
['N/A', None]
['N/A', None]
['AU$1 million', None]
['N/A', None]
['N/A', None]
['N/A', None]
['N/A', None]
['$5 million', 5000000.0]
['N/A', None]
['N/A', None]
['N/A', None]
['$7.5 million', 7500000.0]
['N/A', None]
['$10 million', 10000000.0]
['N/A', None]
['N/A', None]
['$3.5 to 4 million', 3500000.0]
['N/A', None]
['N/A', None]
['N/A', None]
['$5.25 million', 5250000.0]
['$20 million', 20000000.0]
['N/A', None]
['$9 million', 9000000.0]
['N/A', None]
['$6-8 million', 6000000.0]
['$20 million', 20000000.0]
['N/A', None]
['N/A', None]
['$18 million', 18000000.0]
['$12 million', 12000000.0]
['$14 million', 14000000.0]
['N/A', None]
['$17 million', 17000000.0]
['$5 million', 5000000.0]
['unknown', None]
['$20 million', 20000000.0]
['$11 million', 11000000.0]
['$28 million', 28000000.0]
['$44 million', 44000000.0]
['N/A', None]
['N/A', None]
['$14 million', 14000000.0]
['$9 million', 9000000.0]
['N/A', None]
['A$8.7 million', None]
['$31 million', 31000000.0]
['$18 million', 18000000.0]
['$5 million', 5000000.0]
['$40 million', 40000000.0]
['$20 million', 20000000.0]
['N/A', None]
['$14 million', 14000000.0]
['60 million Norwegian Kroner (around $8.7 million in 1989)', 8700000.0]
['N/A', None]
['$35-40 million', 35000000.0]
['$25 million', 25000000.0]
['$15 million', 15000000.0]
['$32 million', 32000000.0]
['$14 million', 14000000.0]
['$28 million', 28000000.0]
['$12 million', 12000000.0]
['N/A', None]
['N/A', None]
['$6.5 million', 6500000.0]
['$28 million', 28000000.0]
['$17 million', 17000000.0]
['$30 million', 30000000.0]
['N/A', None]
['$13 million', 13000000.0]
['N/A', None]
['N/A', None]
['$45 million', 45000000.0]
['$31 million', 31000000.0]
['N/A', None]
['$22 million', 22000000.0]
['$30 million', 30000000.0]
['N/A', None]
['$22 million', 22000000.0]
[['$32 million', '(estimated)'], 32000000.0]
['$18 million', 18000000.0]
['$55 million', 55000000.0]
['$24 million', 24000000.0]
['$15 million', 15000000.0]
['$12 million', 12000000.0]
['N/A', None]
['$30 million', 30000000.0]
['N/A', None]
['$31 million', 31000000.0]
['N/A', None]
['$38 million', 38000000.0]
['$70 million', 70000000.0]
['$15 million', 15000000.0]
['N/A', None]
['$67 million', 67000000.0]
['N/A', None]
['$32 million', 32000000.0]
['$7 million', 7000000.0]
['$85 million', 85000000.0]
['$55 million', 55000000.0]
['$3 million', 3000000.0]
['$16 million', 16000000.0]
['$80 million', 80000000.0]
['$30 million', 30000000.0]
['$24 million', 24000000.0]
['$90 million', 90000000.0]
['$15 million', 15000000.0]
['N/A', None]
['$30 million', 30000000.0]
['$120 million', 120000000.0]
['$90 million', 90000000.0]
['$65 million', 65000000.0]
['$5 million', 5000000.0]
['N/A', None]
['$130 million', 130000000.0]
['$75–90 million', 75000000.0]
['$10 million', 10000000.0]
['$90 million', 90000000.0]
['$15 million –$30 million', 15000000.0]
['$4,000,000 (estimated)', 4000000.0]
['$127.5 million', 127500000.0]
['$80–$85 million', 80000000.0]
['$65 million', 65000000.0]
['N/A', None]
['$30 million', 30000000.0]
['$85 million', 85000000.0]
['$100 million', 100000000.0]
['$23 million', 23000000.0]
['N/A', None]
['$90–120 million', 90000000.0]
['$26 million', 26000000.0]
['$25 million', 25000000.0]
['$115 million', 115000000.0]
['N/A', None]
['$33 million', 33000000.0]
['$20 million', 20000000.0]
['$5 million', 5000000.0]
['N/A', None]
['$22 million', 22000000.0]
['$80 million', 80000000.0]
['$35 million', 35000000.0]
['(US$15–19.2 million)', 15000000.0]
['$15 million', 15000000.0]
['$65 million', 65000000.0]
['$140 million', 140000000.0]
['N/A', None]
['$20 million', 20000000.0]
['$12 million', 12000000.0]
['$46 million', 46000000.0]
['$13 million', 13000000.0]
['$20 million', 20000000.0]
['$17 million', 17000000.0]
['$94 million', 94000000.0]
['$140 million', 140000000.0]
['$26 million', 26000000.0]
['N/A', None]
['N/A', None]
['$46 million', 46000000.0]
['$90 million', 90000000.0]
['N/A', None]
['$10 million', 10000000.0]
['$28 million', 28000000.0]
['N/A', None]
['$15 million', 15000000.0]
['N/A', None]
['$110 million', 110000000.0]
['N/A', None]
['$110 million', 110000000.0]
['N/A', None]
['$45 million', 45000000.0]
['N/A', None]
['$92–145 million', 92000000.0]
['N/A', None]
['$100 million', 100000000.0]
['N/A', None]
['N/A', None]
['$20 million', 20000000.0]
['$56 million', 56000000.0]
['$25 million', 25000000.0]
['N/A', None]
['$50 million', 50000000.0]
[['¥', '2.4 billion', 'US$24 million'], 24000000.0]
['$35 million', 35000000.0]
['$35 million', 35000000.0]
['N/A', None]
['N/A', None]
['$25 million', 25000000.0]
['$150 million', 150000000.0]
['$180 million', 180000000.0]
['N/A', None]
['$30 million', 30000000.0]
['$1 million', 1000000.0]
['N/A', None]
['$40 million', 40000000.0]
['$50 million', 50000000.0]
['$80 million', 80000000.0]
['$120 million', 120000000.0]
['N/A', None]
['$225 million', 225000000.0]
['$30 million', 30000000.0]
['N/A', None]
['$24 million', 24000000.0]
['$12 million', 12000000.0]
['N/A', None]
['$8 million', 8000000.0]
['$17 million', 17000000.0]
['$150 million', 150000000.0]
['$300 million', 300000000.0]
['$150 million', 150000000.0]
['N/A', None]
['$25 million', 25000000.0]
['N/A', None]
['$22 million', 22000000.0]
['$85 million', 85000000.0]
['$130 million', 130000000.0]
['$7 million', 7000000.0]
['$25 million', 25000000.0]
['$225 million', 225000000.0]
['$180 million', 180000000.0]
['N/A', None]
['$20 million', 20000000.0]
['N/A', None]
['$11 million', 11000000.0]
['N/A', None]
['$50 million', 50000000.0]
['$150 million', 150000000.0]
['$80 million', 80000000.0]
['N/A', None]
['$50 million', 50000000.0]
['$30 million', 30000000.0]
['$47 million', 47000000.0]
['N/A', None]
['$175 million', 175000000.0]
['N/A', None]
['$150 million', 150000000.0]
[['¥', '3.4 billion', '(', 'US$', '34 million)'], 34000000]
['N/A', None]
['$30—$35 million', 30000000.0]
['$8 million ( ₽ 350 million)', 8000000.0]
['$175–200 million', 175000000.0]
['$35 million', 35000000.0]
['$105 million', 105000000.0]
['$150 –$200 million', 150000000.0]
['$80 million', 80000000.0]
['$150–200 million', 150000000.0]
['$200 million', 200000000.0]
['$150 million', 150000000.0]
['$22 million', 22000000.0]
['N/A', None]
['$30—$35 million', 30000000.0]
['$35 million', 35000000.0]
['N/A', None]
['$260 million', 260000000.0]
['$170 million', 170000000.0]
['', None]
['N/A', None]
['N/A', None]
['$150 million', 150000000.0]
['N/A', None]
['$5 million', 5000000.0]
['$8 million', 8000000.0]
[['$410.6 million (gross)', '$378.5 million (net)'], 410600000.0]
['$200 million', 200000000.0]
['$30 million', 30000000.0]
['N/A', None]
['$45 million', 45000000.0]
['N/A', None]
['$23 million', 23000000.0]
[['$306.6 million (gross)', '$263.7 million (net)'], 306600000.0]
['$5 million', 5000000.0]
['N/A', None]
['$185 million', 185000000.0]
['$25 million', 25000000.0]
['N/A', None]
['$39 million', 39000000.0]
['$30—35 million', 30000000.0]
['$165 million', 165000000.0]
['$200 million', 200000000.0]
['N/A', None]
['$200 million', 200000000.0]
['$225–250 million', 225000000.0]
['$50 million', 50000000.0]
['N/A', None]
['$150 million', 150000000.0]
['$35 million', 35000000.0]
['$50 million', 50000000.0]
['N/A', None]
['$5 million', 5000000.0]
['$25 million', 25000000.0]
['$180–263 million', 180000000.0]
['$50 million', 50000000.0]
['(US$3.0 million)', 3000000.0]
['$28 million', 28000000.0]
['$165 million', 165000000.0]
['$50 million', 50000000.0]
['$17 million', 17000000.0]
['N/A', None]
['$84.21-95 million', 84210000.0]
['$5–10 million', 5000000.0]
['$180–190 million', 180000000.0]
['$175 million', 175000000.0]
['', None]
['$175–200 million', 175000000.0]
['$70–80 million', 70000000.0]
['$150 million', 150000000.0]
['$175–177 million', 175000000.0]
['N/A', None]
['$170 million', 170000000.0]
['$200 million', 200000000.0]
['$140 million', 140000000.0]
['$65 million', 65000000.0]
['$15 million', 15000000.0]
['$150–175 million', 150000000.0]
['', None]
['$8 million', 8000000.0]
['$160–255 million', 160000000.0]
['$5–10 million', 5000000.0]
['$230–320 million', 230000000.0]
['$175 million', 175000000.0]
['N/A', None]
[['131 crore'], None]
[['~$8 million', '₽', '370 million'], 8000000.0]
['$175–225 million', 175000000.0]
['$100–130 million', 100000000.0]
['$200 million', 200000000.0]
['$75 million', 75000000.0]
['$120–133 million', 120000000.0]
['$175 million', 175000000.0]
['$130 million', 130000000.0]
['$170 million', 170000000.0]
['N/A', None]
['$183 million', 183000000.0]
['$200 million', 200000000.0]
['$250–260 million', 250000000.0]
['$185 million', 185000000.0]
['$60 million', 60000000.0]
['N/A', None]
['$150 million', 150000000.0]
['$40 million', 40000000.0]
['$42 million', 42000000.0]
['$175–200 million', 175000000.0]
['N/A', None]
['N/A', None]
['N/A', None]
['$125 million', 125000000.0]
['$12.5 million (stage production)', 12500000.0]
['N/A', None]
['$24 million', 24000000.0]
['N/A', None]
['$200 million', 200000000.0]
['Unknown', None]
['$26 million', 26000000.0]
['$150 million', 150000000.0]
['₽ 650 million', None]
['N/A', None]
['$100 million+', 100000000.0]
['$100–200 million', 100000000.0]
['N/A', None]
['$200 million', 200000000.0]
['$120–150 million', 120000000.0]
['N/A', None]
['₽ 454 million', None]
['N/A', None]
['N/A', None]
['$175 million', 175000000.0]
['N/A', None]
['N/A', None]
['N/A', None]
['N/A', None]
['N/A', None]
['N/A', None]
['N/A', None]
['N/A', None]
['N/A', None]
['N/A', None]
['N/A', None]
['N/A', None]
['N/A', None]
['N/A', None]
['$11 million', 11000000.0]
['N/A', None]
['$28 million', 28000000.0]
['N/A', None]
['$858,000', 858000.0]
['$53.4 million', 53400000.0]
['N/A', None]
['$85 million', 85000000.0]
['$70 million', 70000000.0]
['$75–90 million', 75000000.0]
['$80 million', 80000000.0]
['$130 million', 130000000.0]
['N/A', None]
['$5 million', 5000000.0]
['N/A', None]
['N/A', None]
['N/A', None]
['$18 million or $25 million', 18000000.0]
['N/A', None]
['$4 million', 4000000.0]
['$3 million', 3000000.0]
['N/A', None]
['$35-40 million', 35000000.0]
['N/A', None]

#### 3.4. Convert Box Office into a number

In [ ]:
### Check Box Office format
[[movie['Title'], movie.get('Box office', 'N/A')] for movie in disney_data]

Similar to the Budget, we will try to convert the Box office into an integer. However, ff a movie has more than a value, we will take their sum instead of the first number

In [ ]:
def get_box_office(string):
  '''
  To obtain the Box office string
  '''
  
  if string in ['N/A', '', 'unknown', 'Unknown', 'est.']:
    return None


  ## If the Budget value is a list
  if isinstance(string, list):
    substrings = [s for s in string if '$' in s]

    box_office_list =[]
    for sub in substrings:
      money_string = get_money_string(sub)
      box_office_list.append(word_to_number(money_string))
    return sum(box_office_list)
  
  else:
    string = string.lower()
    ## If there are 2 revenues in a string
    if (string.count('$') > 1) and ('–' not in string): 
      pattern = r'[US]*\$[0-9.]+[0-9\-\$\s\w\W]* million|\$[0-9\,\.]+'
      box_office_list = []
      for sub in re.findall(pattern, string):
        box_office_list.append(word_to_number(sub.replace('$', '')))
      return sum(box_office_list)
    
    else:
      money_string = get_money_string(string)
      return word_to_number(money_string)

In [ ]:
for movie in disney_data:
  try:
    movie['BoxOffice_converted'] = get_box_office(movie.get('Box office', 'N/A'))
  except Exception as e:
    print(e)
    print(movie['Box office'], movie['Title'])

'NoneType' object has no attribute 'group'
US$ 204.8 million Ponyo

In [ ]:
## Alright, we only need to fix the Ponyo movie with the Box office of 204.8 million

for movie in disney_data:
  if movie['Title'] == 'Ponyo':
    movie['BoxOffice_converted'] = '204800000'
  # if movie['Title'] == 'Jagga Jasoos':
  #   movie['BoxOffice_converted'] = None

  print([movie.get('Box office', 'N/A'), movie['BoxOffice_converted']])

['$45.472', 45.472]
['$418 million', 418000000.0]
['$164 million', 164000000.0]
['$76.4–$83.3 million (United States and Canada)', 76400000.0]
['$960,000 (worldwide rentals)', 960000.0]
['>$1.3 million (est. United States/Canada rentals, 1941)', 1300000.0]
['$267.4 million', 267399999.99999997]
['$1.135 million (worldwide rentals)', 1135000.0]
['$799,000', 799000.0]
['$3.355 million (worldwide rentals)', 3355000.0]
['$3.275 million (worldwide rentals)', 3275000.0]
['$65 million', 65000000.0]
['$3.165 million (worldwide rentals)', 3165000.0]
['$2.56 million (worldwide rentals)', 2560000.0]
['$3.7 million (U.S. rental) $575,000 (foreign rental)', 4275000.0]
['$1.625 million (worldwide rentals)', 1625000.0]
['$182 million', 182000000.0]
['$4,100,000 (worldwide rentals)', 4100000.0]
[['$2.4 million (1951, domestic)', '$3.5 million (1974, domestic)'], 5900000.0]
['$2.1 million (US rentals)', 2100000.0]
['$87.4 million (United States and Canada)', 87400000.0]
['$1 million (US)', 1000000.0]
['$2.6 million (US)', 2600000.0]
['N/A', None]
['$1.75 million (US and Canadian rentals)', 1750000.0]
['$28.2 million', 28200000.0]
['$2,150,000 (US)', 2150000.0]
['$187 million', 187000000.0]
['$2.1 million (US)', 2100000.0]
['$1.6 million (US)', 1600000.0]
['$1.7 million (US)', 1700000.0]
['N/A', None]
['N/A', None]
['$2.75 million (US)', 2750000.0]
['N/A', None]
['$1.75 million (US rentals)', 1750000.0]
['$6,250,000 (U.S./Canada rentals)', 6250000.0]
['N/A', None]
['$1.8 million (est. US/Canada rentals)', 1800000.0]
['$2.5 million (est. US/ Canada rentals)', 2500000.0]
['$51.6 million (United States and Canada)', 51600000.0]
['$12.3 million (US and Canada rentals)', 12300000.0]
[['Original release', ':', '$2.6 million (est. US/ Canada rentals)', '1969 re-release', ':', '$2.3 million  (US/ Canada rentals)'], 4900000.0]
['N/A', None]
['$1,700,000 (US/Canada rentals)', 1700000.0]
['$3,100,000 (US/Canada rentals)', 3100000.0]
['N/A', None]
['$3.75 million (US and Canadian rentals)', 3750000.0]
['N/A', None]
['$2.3 million (US and Canadian rentals)', 2300000.0]
['N/A', None]
['$40 million', 40000000.0]
['$303 million', 303000000.0]
['$25.4 million', 25400000.0]
['$25.1 million', 25100000.0]
['N/A', None]
['N/A', None]
['$4.6 million (U.S./Canada rentals)', 4600000.0]
['$3.5 million', 3500000.0]
['$5 million (rentals)', 5000000.0]
['N/A', None]
['N/A', None]
['N/A', None]
['$21,745,500', 21745500.0]
['$22.1 million', 22100000.0]
['$2,550,000 (US/ Canada)', 2550000.0]
['$3,000,000 (U.S./Canada)', 3000000.0]
['$4,350,000 (US/ Canada rentals)', 4350000.0]
['$4.2 million (US/Canada) (rentals)', 4200000.0]
['$22.2 million (United States and Canada)', 22200000.0]
['est. $1,600,000 (US/ Canada)', 1600000.0]
['$4,000,000 (US/ Canada)', 4000000.0]
['$2,250,000 (US/ Canada)', 2250000.0]
['est. $3,500,000 (US/ Canada)', 3500000.0]
['$103.1 million', 103100000.0]
['$3,500,000 (US/ Canada rentals)', 3500000.0]
['$1,275,000', 1275000.0]
['$4,000,000 (US/Canada rentals)', 4000000.0]
['$28,068,222', 28068222.0]
['$6.2 million (est. US/ Canada rentals)', 6200000.0]
['$22,565,634', 22565634.0]
['N/A', None]
['$16,207,116', 16207116.0]
['$3,000,000 (US/ Canada)', 3000000.0]
['$1,900,000 (US/ Canada)', 1900000.0]
['$4,000,000 (US/ Canada)', 4000000.0]
['$378 million', 378000000.0]
['N/A', None]
['$5 million (U.S./Canada rentals)', 5000000.0]
['$21,540,050', 21540050.0]
['$2,250,000 (US/ Canada)', 2250000.0]
['$4,150,000 (US/ Canada rentals)', 4150000.0]
['$3.3 million  (US/ Canada rentals)', 3300000.0]
['$51.3 million', 51300000.0]
['$1.3 million (US/ Canada rentals)', 1300000.0]
['N/A', None]
['$5.5 million (US/ Canada rentals)', 5500000.0]
['N/A', None]
['$18,607,492', 18607492.0]
['$4 million (rentals) (US/Canada)', 4000000.0]
['$191 million', 191000000.0]
['N/A', None]
['N/A', None]
['$5.1 million (North America) (rentals)', 5100000.0]
['$17.9 million', 17900000.0]
['N/A', None]
['$4,610,000 (US/Canada) (rentals)', 4610000.0]
['N/A', None]
['N/A', None]
['$6,100,000 (US/ Canada rentals)', 6100000.0]
['$22,583,370', 22583370.0]
['N/A', None]
['$2 million', 2000000.0]
['$33 million', 33000000.0]
['$7 million (US/Canada rentals)', 7000000.0]
[['$38,229,000 (US/Canada gross)', '$30.8 million (worldwide rentals)'], 69029000.0]
['$4 million (rentals) (US/Canada)', 4000000.0]
['N/A', None]
['$10 million (US/Canada rentals)', 10000000.0]
['$6.6 million (US/Canada rentals)', 6600000.0]
['$20,000,000', 20000000.0]
['$36,853,000', 36853000.0]
['$5.5 million (North American rentals)', 5500000.0]
['N/A', None]
['N/A', None]
['N/A', None]
['N/A', None]
['N/A', None]
['$21,873,000', 21873000.0]
['$10.5 million (US and Canada rentals)', 10500000.0]
['$36 million', 36000000.0]
['N/A', None]
['N/A', None]
['N/A', None]
['$169 million', 169000000.0]
['$29 million', 29000000.0]
['$36 –39.6 million', 36000000.0]
['N/A', None]
['N/A', None]
['N/A', None]
['N/A', None]
['N/A', None]
['$20,931,111', 20931111.0]
['$4.475 million (US/Canada rentals )', 4475000.0]
[['$35.8 million'], 35800000.0]
['$2.9 million', 2900000.0]
['$5 million', 5000000.0]
['$18 million', 18000000.0]
['$11 million', 11000000.0]
['$60 million', 60000000.0]
['$16 million (USA)', 16000000.0]
['N/A', None]
['$14.1 million', 14100000.0]
['$63.5 million', 63500000.0]
['N/A', None]
['$8 million', 8000000.0]
['$50 million', 50000000.0]
['$7.4 million', 7400000.0]
['$4,304,286 (US)', 4304286.0]
['$8.4 million', 8400000.0]
['$27.6 million', 27600000.0]
['$11.1 million (USA)', 11100000.0]
['$21.3 million', 21300000.0]
['$9.7 million (U.S. and Canada only)', 9700000.0]
['$13 million', 13000000.0]
['$38.7 million', 38700000.0]
['$18,564,613', 18564613.0]
['$22.3 million', 22300000.0]
['$13,687,027', 13687027.0]
['>$121 million', 121000000.0]
['$222.7 million', 222700000.0]
['$8,153,677 (United States)', 8153677.0]
['', None]
['$18.1 million', 18100000.0]
['$47.4 million', 47400000.0]
['$34.8 million', 34800000.0]
['$15.1 million', 15100000.0]
['$7.3 million', 7300000.0]
['$46.7 million (USA)', 46700000.0]
['$440.1 million', 440100000.0]
['$2.8 million', 2800000.0]
['$96 million', 96000000.0]
['$50.8 million', 50800000.0]
['$504.1 million', 504100000.0]
['$27.2 million', 27200000.0]
['$57 million', 57000000.0]
['$12.9 million', 12900000.0]
['$24.1 million', 24100000.0]
['$45.4 million', 45400000.0]
['$154.9 million', 154900000.0]
['$111 million', 111000000.0]
['$21 million', 21000000.0]
['$39 million', 39000000.0]
['$45.6 million', 45600000.0]
['$8,878,839 (US)', 8878839.0]
['$968.5 million', 968500000.0]
['$50.2 million', 50200000.0]
['$3,337,685', 3337685.0]
['$189.8 million', 189800000.0]
['$70.7 million', 70700000.0]
['$17.6 million', 17600000.0]
['$40,070,995', 40070995.0]
['$11 million', 11000000.0]
['$37.6 million', 37600000.0]
['$346.1 million', 346100000.0]
['$24,670,346', 24670346.0]
['$13.4 million (domestic)', 13400000.0]
['$17.7 million', 17700000.0]
['N/A', None]
['$373 million', 373000000.0]
['$23.9 million (US)', 23900000.0]
['$34.3 million (North America)', 34300000.0]
['$32.7 million', 32700000.000000004]
['$37.7 million', 37700000.0]
['$325.3 million', 325300000.0]
['$26,465,920 (USA)', 26465920.0]
['$22.9 million', 22900000.0]
['$320.7 million', 320700000.0]
['$18.3 million', 18300000.0]
['$59.9 million', 59900000.0]
['N/A', None]
['$252.7 million', 252700000.0]
['$174.4 million', 174400000.0]
['$27.8 million', 27800000.0]
['$15.4 million', 15400000.0]
['$178 million', 178000000.0]
['$28.9 million', 28900000.0]
['$4.4 million', 4400000.0]
['$304.3 million', 304300000.0]
['$92.1 million', 92100000.0]
['N/A', None]
['$12.2 million', 12200000.0]
['$363.3 million', 363300000.0]
['$50.6 million (US)', 50600000.0]
['$36.8 million', 36800000.0]
['$19.4 million', 19400000.0]
['N/A', None]
['$448.2 million', 448200000.0]
['$134.4 million', 134400000.0]
['$6.2 million', 6200000.0]
['$497.4 million', 497400000.0]
['$96.2 million', 96200000.0]
['$500,000 (USA) (30 November 2000)', 500000.0]
['$349.8 million', 349800000.0]
['$90.9 million', 90900000.0]
['$110.3 million', 110300000.0]
['N/A', None]
['$136.8 million', 136800000.0]
['$183.6 million', 183600000.0]
['$169.6 million', 169600000.0]
['$44.5 million', 44500000.0]
['N/A', None]
['$186.1 million', 186100000.0]
['$165.3 million', 165300000.0]
['$18.6 million', 18600000.0]
['$577.4 million', 577400000.0]
['N/A', None]
['$115 million', 115000000.0]
['$115.1 million', 115100000.0]
['N/A', None]
['N/A', None]
['$80.7 million', 80700000.0]
['$273.1 million', 273100000.0]
['$18 million', 18000000.0]
['', None]
['$19.3 million', 19300000.0]
['$172.9 million', 172900000.0]
['$110 million', 110000000.0]
['N/A', None]
['$135.7 million', 135700000.0]
['N/A', None]
['$62.9 million', 62900000.0]
['$28.7 million', 28700000.0]
['$71.4 million', 71400000.0]
['$55.5 million', 55500000.0]
['$940.3 million', 940300000.0]
['$654.3 million', 654300000.0]
['$160.8 million', 160800000.0]
['N/A', None]
['N/A', None]
['$250.4 million', 250400000.0]
['$182.3 million', 182300000.0]
['$9,638,389', 9638389.0]
['$6.5 million', 6500000.0]
['$64.5 million', 64500000.0]
['N/A', None]
['$105.1 million', 105100000.0]
['N/A', None]
['$145.5 million', 145500000.0]
['$1,108,356', 1108356.0]
['$72.2 million', 72200000.0]
['$314,402', 314402.0]
['$134.7 million', 134700000.0]
['N/A', None]
['$631.6 million', 631600000.0]
['N/A', None]
['$347.5 million', 347500000.0]
['$9 million', 9000000.0]
['N/A', None]
['$52.9 million', 52900000.0]
['$198.6 million', 198600000.0]
['$27.6 million', 27600000.0]
['N/A', None]
['$144.1 million', 144100000.0]
[['¥', '23.2 billion', 'US$236 million (worldwide)'], 236000000.0]
['$86.4 million', 86400000.0]
['$61.7 million', 61700000.0]
['N/A', None]
['N/A', None]
['$15.4 million', 15400000.0]
['$314.4 million', 314400000.0]
['$745 million', 745000000.0]
['N/A', None]
['$42.9 million', 42900000.0]
['$11 million', 11000000.0]
['$35 Million', 35000000.0]
['$120.5 million', 120500000.0]
['$87.1 million', 87100000.0]
['$102.3 million', 102300000.0]
['$462 million', 462000000.0]
['N/A', None]
['$1.066 billion', 1066000000.0]
['$58.5 million', 58500000.0]
['N/A', None]
['$91.5 million', 91500000.0]
['$110.8 million', 110800000.0]
['N/A', None]
['N/A', None]
['$137.6 million', 137600000.0]
['$169.3 million', 169300000.0]
['$960.9 million', 960900000.0]
['$623.7 million', 623700000.0]
['N/A', None]
['$65.3 million', 65300000.0]
['N/A', None]
['$146.6 million', 146600000.0]
['$340.5 million', 340500000.0]
['$459.2 million', 459200000.0]
['$70.6 million', 70600000.0]
['$51.5 million', 51500000.0]
['$419.7 million', 419700000.0]
['$521.3 million', 521299999.99999994]
['N/A', None]
['$149.3 million', 149300000.0]
['$275,776', 275776.0]
['$252.9 million', 252900000.0]
['$2 million', 2000000.0]
['$9.2 million', 9200000.0]
['$310 million', 310000000.0]
['$212.9 million', 212900000.0]
['$23.1 million', 23100000.0]
['$106.4 million', 106400000.0]
['$155.5 million', 155500000.0]
['$109 million', 109000000.0]
['$55,513', 55513.0]
['$735.1 million', 735100000.0]
['N/A', None]
['$292.8 million', 292800000.0]
['US$ 204.8 million', '$204.8 million']
['N/A', None]
['$8,582,265', 8582265.0]
['$11.3 million', 11300000.0]
['$325 million', 325000000.0]
['$96.8 million', 96800000.0]
['$271 million', 271000000.0]
['$1.025 billion', 1024999999.9999999]
['$82.7 million', 82700000.0]
['$336.4 million', 336400000.0]
['$1.067 billion', 1067000000.0]
['$215.3 million', 215300000.0]
['', None]
['N/A', None]
['$10,872,752', 10872752.0]
['$60.3 million', 60300000.0]
['N/A', None]
['$592.4 million', 592400000.0]
['$400.1 million', 400100000.0]
['N/A', None]
['$29.6 million', 29600000.0]
['N/A', None]
['$39.2 million', 39200000.0]
['N/A', None]
['$30.9 million', 30900000.0]
['$10.7 million', 10700000.0]
['$1.046 billion', 1046000000.0]
['$559.8 million', 559800000.0]
['$50.1 million', 50100000.0]
['N/A', None]
['$165.2 million', 165200000.0]
['N/A', None]
['$146 million', 146000000.0]
['$284.1 million', 284100000.0]
['$34.8 million', 34800000.0]
['N/A', None]
['$540.4 million', 540400000.0]
['$56 million', 56000000.0]
['$12.2 million', 12200000.0]
['$81.5 million', 81500000.0]
['$67.5 million', 67500000.0]
['$471.2 million', 471200000.0]
['$493.3 million', 493300000.0]
['N/A', None]
['$743.6 million', 743600000.0]
['$260.5 million', 260500000.0]
['$239.3 million', 239300000.0]
['N/A', None]
['$1.280 billion', 1280000000.0]
['$117.9 million', 117900000.0]
['$80.4 million', 80400000.0]
['$64.9 million', 64900000.00000001]
['$21.3 million', 21300000.0]
['$40.2 million', 40200000.0]
['$758.5 million', 758500000.0]
['$147 million', 147000000.0]
['est. (US$10 million)', 10000000.0]
['$100.6 million', 100600000.0]
['$657.9 million', 657900000.0]
['$213.1 million', 213100000.0]
['$45.7 million', 45700000.0]
['$31.2 million (non-US box office)', 31200000.0]
['$542.4 million', 542400000.0]
['$17.1 million', 17100000.0]
['$209 million', 209000000.0]
['$858.8 million', 858800000.0]
['est.', None]
['$332.2 million', 332200000.0]
['$52.1 million', 52100000.0]
['$1.024 billion', 1024000000.0]
['$966.6 million', 966600000.0]
['$17 million', 17000000.0]
['$299.5 million', 299500000.0]
['$1.029 billion', 1028999999.9999999]
['$195.2 million', 195200000.0]
['$143.7 million', 143700000.0]
['$10.4 million', 10400000.0]
['$645 million', 645000000.0]
['est.', None]
['$127.4 million', 127400000.0]
['$1.264 billion', 1264000000.0]
['$25.1 million', 25100000.0]
['$794.9 million', 794900000.0]
['$383.9 million', 383900000.0]
['N/A', None]
['83 crore', None]
[['$30.5 million', '₽', '1.731 billion'], 30500000.0]
['$807.8 million', 807800000.0]
['$132.7 million', 132699999.99999999]
['$1.245 billion', 1245000000.0]
['$197.7 million', 197700000.0]
['$174 million', 174000000.0]
['$529.3 million', 529299999.99999994]
['$349.5 million', 349500000.0]
['$353.3 million', 353300000.0]
['$7.7\n million', 7700000.0]
['', None]
['$1.073 billion', 1073000000.0]
['$1.663 billion', 1663000000.0]
['$491.7 million', 491700000.0]
['N/A', None]
['N/A', None]
['$1.450 billion', 1450000000.0]
['N/A', None]
['N/A', None]
['$141.9 million', 141900000.0]
['N/A', None]
['N/A', None]
['N/A', None]
['N/A', None]
['N/A', None]
['N/A', None]
['N/A', None]
['N/A', None]
['$70 million', 70000000.0]
['N/A', None]
['N/A', None]
['$121 million', 121000000.0]
[['₽ 2.046 billion', '$28.3 million (Worldwide)', '$28.6 million (Russia/ CIS )'], 56900000.0]
['N/A', None]
['$130.4 million', 130400000.0]
['$233.5 million', 233500000.0]
['$49.8 million', 49800000.0]
['$220.9 million', 220900000.0]
['$254.6 million', 254600000.0]
['N/A', None]
[['₽ 2.196 billion', '$27 million'], 27000000.0]
['N/A', None]
['N/A', None]
['$16.7 million', 16700000.0]
['N/A', None]
['N/A', None]
['N/A', None]
['N/A', None]
['N/A', None]
['N/A', None]
['N/A', None]
['N/A', None]
['N/A', None]
['N/A', None]
['N/A', None]
['N/A', None]
['N/A', None]
['N/A', None]
['$240 million', 240000000.0]
['N/A', None]
['$100.6 million', 100600000.0]
['N/A', None]
['$267.4 million', 267399999.99999997]
['N/A', None]
['N/A', None]
['$252.7 million', 252700000.0]
['$325.3 million', 325300000.0]
['$134.4 million', 134400000.0]
['$273.1 million', 273100000.0]
['$459.2 million', 459200000.0]
['N/A', None]
['$33 million', 33000000.0]
['N/A', None]
['N/A', None]
['N/A', None]
['$9,697,739 (USA)', 9697739.0]
['N/A', None]
['$191 million', 191000000.0]
['$22.2 million (United States and Canada)', 22200000.0]
['N/A', None]
['$46.7 million (USA)', 46700000.0]
['N/A', None]

#### 3.5. Convert datetime format

In [ ]:
## Get release dates

[[movie.get('Release dates', 'N/A'), movie.get('Release date', 'N/A'), movie['Title']] for movie in disney_data]

In [ ]:
import re
from datetime import datetime

def date_convert(string):
  '''
  Get the datetime string 
  '''

  # pattern1 = r'(?P<month>[A-Z]\w*) (?P<date>\d{1,2}), (?P<year>\d{4})'
  # pattern2 = r'(?P<date>\d{1,2}) (?P<month>[A-Z]\w*) (?P<year>\d{4})'
  
  pattern1 = r'[A-Z]\w* \d{1,2}, \d{4}'
  pattern2 = r'\d{1,2} [A-Z]\w* \d{4}'
  pattern3 = r'\d{4}'
  match1 = re.search(pattern1, string)
  match2 = re.search(pattern2, string)
  match3 = re.search(pattern3, string)

  if match1 != None:
    date = datetime.strptime(match1.group(), '%B %d, %Y').strftime('%b %d, %Y')
    return date

  elif match2 != None:
    date = datetime.strptime(match2.group(), '%d %B %Y').strftime('%b %d, %Y')
    return date

  elif match3 != None:
    date = match3.group()
    return date
  
  # else:
  #   date = None
  #   return date


def get_date_string(string):

  if string in ['N/A', '', 'unknown']:
    return None
  
  if isinstance(string, list):
    for sub in string:
      date = date_convert(sub)
      if date != None:
        return date
      else:
        continue

  else:
    date = date_convert(string)
    return date

In [ ]:
for movie in disney_data:
  try:
    if 'Release date' in movie.keys():
      movie['Release_date_converted'] = get_date_string(movie['Release date'])
    elif 'Release dates' in movie.keys():
      movie['Release_date_converted'] = get_date_string(movie['Release dates'])
    else:
      movie['Release_date_converted'] = None
  except Exception as e:
    print(e)
    print(movie['Title'])

In [ ]:
[[movie.get('Release date', 'N/A'), movie.get('Release dates', 'N/A'), movie['Release_date_converted']] for movie in disney_data]